body{
    background-color: #e7f4da;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.color-btn{
    background-color: #de4e0f;
    border-color: #de4e0f;
    color: #fff;
}

.pt-7 {
    padding-top: 5rem !important;
  }

.pt-10 {
    padding-top: 7rem !important;
  }

.size-orange{
    height: 3.5rem;
}